<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>authorname</key>
		<string>艺术家</string>
		<key>place</key>
		<string>上海</string>
		<key>time</key>
		<string>2013-12-16 12：30：11</string>
		<key>authorAvatar</key>
		<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
		<key>message</key>
		<string>这里是评论内容哦，要根据评论内容的长度动态修改label的高度的哦，字数可能是140字哈这里是评论内容哦，要根据评论内容的长度动态修改label的高度的哦，字数可能是140字哈这里是评论内容哦，要根据评论内容的长度动态修改label的高度的哦，字数可能是140字哈</string>
		<key>image</key>
		<string>http://ww3.sinaimg.cn/bmiddle/e0f855c3tw1ebjlr2cvmtj21kw2dchdt.jpg</string>
		<key>praisecount</key>
		<string>300</string>
		<key>reviews</key>
		<array>
			<dict>
				<key>avatar</key>
				<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
				<key>userid</key>
				<string>001</string>
				<key>username</key>
				<string>张三</string>
				<key>reviewcontent</key>
				<string>好萌的宝贝啊</string>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
				<key>userid</key>
				<string>002</string>
				<key>username</key>
				<string>李四</string>
				<key>reviewcontent</key>
				<string>喜欢</string>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
				<key>userid</key>
				<string>003</string>
				<key>username</key>
				<string>王五</string>
				<key>reviewcontent</key>
				<string>哈哈</string>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
				<key>userid</key>
				<string>004</string>
				<key>username</key>
				<string>马六</string>
				<key>reviewcontent</key>
				<string>逗</string>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
				<key>userid</key>
				<string>005</string>
				<key>username</key>
				<string>高兴</string>
				<key>reviewcontent</key>
				<string>我叫高兴</string>
			</dict>
			<dict>
				<key>avatar</key>
				<string>http://ww1.sinaimg.cn/bmiddle/68ea881bjw1eba0iu25w4j20xc18gdri.jpg</string>
				<key>userid</key>
				<string>011</string>
				<key>username</key>
				<string>mm</string>
				<key>reviewcontent</key>
				<string>在那遥远的地方，有个好姑娘</string>
			</dict>
		</array>
		<key>userid</key>
		<string>008</string>
	</dict>
	<dict>
		<key>authorname</key>
		<string>艺术家</string>
		<key>place</key>
		<string>上海</string>
		<key>time</key>
		<string>2013-12-16 12：30：11</string>
		<key>authorAvatar</key>
		<string>http://ww3.sinaimg.cn/bmiddle/49356461jw1eblpp4eamxj20go0lzq67.jpg</string>
		<key>message</key>
		<string>这里是评论内容哦，要根据评论内容的长度动态修改label的高度的哦，字数可能是140字哈</string>
		<key>image</key>
		<string>http://ww2.sinaimg.cn/bmiddle/8446b893gw1ebhsv0nsr2j20c8085my1.jpg</string>
		<key>praisecount</key>
		<string>300</string>
		<key>reviews</key>
		<array>
			<dict>
				<key>userid</key>
				<string>001</string>
				<key>username</key>
				<string>张三</string>
				<key>reviewcontent</key>
				<string>好萌的宝贝啊</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>002</string>
				<key>username</key>
				<string>李四</string>
				<key>reviewcontent</key>
				<string>喜欢</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>003</string>
				<key>username</key>
				<string>王五</string>
				<key>reviewcontent</key>
				<string>哈哈</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>004</string>
				<key>username</key>
				<string>马六</string>
				<key>reviewcontent</key>
				<string>逗</string>
			</dict>
		</array>
		<key>userid</key>
		<string>008</string>
	</dict>
	<dict>
		<key>authorname</key>
		<string>艺术家</string>
		<key>place</key>
		<string>上海</string>
		<key>time</key>
		<string>2013-12-16 12：30：11</string>
		<key>authorAvatar</key>
		<string>http://ww4.sinaimg.cn/bmiddle/49356461jw1eblpv84z90j20go0m80v9.jpg</string>
		<key>message</key>
		<string>这里是评论内容哦，要根据评论内容的长度动态修改label的高度的哦，字数可能是140字哈</string>
		<key>image</key>
		<string>http://ww4.sinaimg.cn/bmiddle/8446b893gw1ebhsv0ebadj20c8063aai.jpg</string>
		<key>praisecount</key>
		<string>300</string>
		<key>reviews</key>
		<array>
			<dict>
				<key>userid</key>
				<string>001</string>
				<key>username</key>
				<string>张三</string>
				<key>reviewcontent</key>
				<string>好萌的宝贝啊</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>002</string>
				<key>username</key>
				<string>李四</string>
				<key>reviewcontent</key>
				<string>喜欢</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>003</string>
				<key>username</key>
				<string>王五</string>
				<key>reviewcontent</key>
				<string>哈哈</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>004</string>
				<key>username</key>
				<string>马六</string>
				<key>reviewcontent</key>
				<string>逗</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>005</string>
				<key>username</key>
				<string>高兴</string>
				<key>reviewcontent</key>
				<string>我叫高兴</string>
			</dict>
		</array>
		<key>userid</key>
		<string>008</string>
	</dict>
	<dict>
		<key>authorname</key>
		<string>艺术家</string>
		<key>place</key>
		<string>上海</string>
		<key>time</key>
		<string>2013-12-16 12：30：11</string>
		<key>authorAvatar</key>
		<string>http://ww2.sinaimg.cn/bmiddle/49356461jw1eblpq8ih9aj20go0m8dla.jpg</string>
		<key>message</key>
		<string>这里是评论内容哦，要根据评论内容的长度动态修改label的高度的哦，字数可能是140字哈</string>
		<key>image</key>
		<string>http://ww3.sinaimg.cn/bmiddle/8446b893gw1ebhsv01s31j20c806y74x.jpg</string>
		<key>praisecount</key>
		<string>300</string>
		<key>reviews</key>
		<array>
			<dict>
				<key>userid</key>
				<string>001</string>
				<key>username</key>
				<string>张三</string>
				<key>reviewcontent</key>
				<string>好萌的宝贝啊</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>002</string>
				<key>username</key>
				<string>李四</string>
				<key>reviewcontent</key>
				<string>喜欢</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>003</string>
				<key>username</key>
				<string>王五</string>
				<key>reviewcontent</key>
				<string>哈哈</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>004</string>
				<key>username</key>
				<string>马六</string>
				<key>reviewcontent</key>
				<string>逗</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>005</string>
				<key>username</key>
				<string>高兴</string>
				<key>reviewcontent</key>
				<string>我叫高兴</string>
			</dict>
		</array>
		<key>userid</key>
		<string>008</string>
	</dict>
</array>
</plist>
